@using BloodTypeC.DAL.Models.Views;
@model FavoriteBeersViewModel
@using BloodTypeC.WebApp.Language;
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("★ Favorites");
}

<div class="page-name">
    @language.Getkey("Your favorite beers")
</div>
<div class="products">
    @if (Model.FavoriteBeers.Any())
    {
        await Html.RenderPartialAsync("_BeerPartialView", Model.FavoriteBeers);
    }
    else
    {
        <div class="empty">
            @language.Getkey("The list is currently empty.")
        </div>
    }
</div>
<div class="button-margin">
    <div class="buttons">
        <button onclick="@("window.location.href='" + Url.Action("Index", "Home") + "'")" class="search-button">
            @language.Getkey("Back to list")
        </button>
    </div>
</div>