@using BloodTypeC.DAL;
@using Microsoft.AspNetCore.Http.Extensions;
@using BloodTypeC.DAL.Models;
@using BloodTypeC.WebApp.Language;
@inject LanguageService language
@model IEnumerable<Beer>

<div class="products">
    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            <div class="product-card">
                <div class="card-body">
                    <div class="beer-image-position">
                        @if (item.Image != null)
                        {
                            if (item.Image.Contains("/"))
                            {
                                <div class="beer-image-position">
                                    <img src="@item.Image" class="beer-image">
                                </div>
                            }
                            else
                            {
                                <div class="beer-image-position">
                                    <img src="~/Images/@item.Image" class="beer-image">
                                </div>
                            }
                        }
                        else
                        {
                            <img src="~/Images/mockup.png" class="beer-image">
                        }
                    </div>
                    <h5>@item.Name</h5>
                    <p>@item.Brewery?.Substring(0,item.Brewery.Length<30?item.Brewery.Length:30) &nbsp</p>
                    <div class="buttons">
                        <a asp-action="Details" asp-route-id="@item.Id" asp-controller="Beer">
                            <button class="product-button">
                                @language.Getkey("Details")
                            </button>
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Beer">
                            <button class="product-button">
                                @language.Getkey("Edit")
                            </button>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Beer">
                            <button class="product-button">
                                @language.Getkey("Delete")
                            </button>
                        </a>
                    </div>
                    <div class="buttons">
                        <div>
                            @if (User.Identity.Name != null)
                            {
                                @if (!item.FavoriteUsers.Any(u => u.UserName == User.Identity.Name))
                                {
                                    <a asp-controller="FavoriteBeers" asp-action="AddToFavorites" asp-route-id="@item.Id">
                                        <button class="fav-button">
                                            @language.Getkey("Fav")
                                        </button>
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="FavoriteBeers" asp-action="RemoveFromFavorites" asp-route-id="@item.Id">
                                        <button class="fav-rem-button">
                                            @language.Getkey("Unfav")
                                        </button>
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="empty">
            @language.Getkey("No beers in database.")
        </div>
    }
</div>