@model BloodTypeC.DAL.Models.Views.AssigneRolesView

@{
    ViewData["Title"] = "AssignUserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-name">
    Assign User Role
</div>
<div class="row products">
    <div class="col-md-12 products">
        <form asp-action="AssigneUserRoles">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group products">
                <label asp-for="RolesIdToAssigne" class="text-white-large right-margin">Roles to assign</label>
                <select class="selectpicker" multiple title="Select user roles..." asp-for="RolesIdToAssigne">
                    @foreach (var role in Model.AvalaibleRolesToAssigne)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </select>
                <span asp-validation-for="RolesIdToAssigne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="@Model.User.Id" class="form-control" value="@Model.User.Id" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group row-space buttons">
                <input type="submit" value="Assign roles" class="confirm-button" />
            </div>
        </form>
    </div>
</div>

<h1 class="text-white products">User roles</h1>
<div class="buttons">
    <div class="col-md-6">
        <table class="table text-white">
            <thead>
                <tr>
                    <th class="text-white-large">
                        Role
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserRoles)
                {
                    <tr>
                        <td class="text-white-large">
                            @item
                        </td>
                        <td>
                            <form asp-action="RemoveUserRole" asp-route-id="@Model.User.Id" asp-route-roleName="@item" class="row-space">
                                <input type="submit" value="Remove" class="search-button" />
                            </form>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a asp-action="Index"><button class="search-button">Back to list</button></a>
</div>