@using BloodTypeC.WebApp.Language;
@inject LanguageService language

@{
    Layout = "";
}

@{
    ViewData["Title"] = @language.Getkey("Age check!");
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="css/StyleSheet.css" rel="stylesheet" />
</head>

<div class="age-validation-page">
    <div class="logo">
        <img src="~/Images/logo-smallmargin.png" class="logo-responsive">
    </div>
    <div class="age-question">
        @language.Getkey("Are you over 18?")
    </div>
    <div class="buttons">
        <div class="age-validation-button">
            <button onclick="@("window.location.href='" + Url.Action("Index", "Home") + "'")" class="age-validation-button-style">
                @language.Getkey("YES")
            </button>
        </div>
        <div onclick="@("window.location.href='" + Url.Action("GP", "Home") + "'")" class="age-validation-button">
            <button class="age-validation-button-style">
                @language.Getkey("NO")
            </button>
        </div>
    </div>
</div>