@using BloodTypeC.Logic;
@using BloodTypeC.DAL;
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}


<header class="py-5">
</header>
<section class="pt-4">
    <div class="container px-lg-5">
        <div class="row gx-lg-5">

            @foreach (var item in Model.Beers)
            {
                <div class="col-lg-6 col-xxl-4 mb-5">
                    <div class="card bg-light border-0 h-100">
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Brewery<br>asdasdasdasd</p>
                            <a asp-action="Details" asp-controller="Beer" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                            @if (!DB.FavoriteBeers.Any(x => x.Id == item.Id.ToString()))
                            {
                                <a asp-controller="FavoriteBeers" asp-action="AddToFavorites" asp-route-id="@item.Id" class="btn btn-warning">❤ Fav it!</a>
                            }
                            else
                            {
                                <a asp-controller="FavoriteBeers" asp-action="RemoveFromFavorites" asp-route-id="@item.Id" class="btn btn-outline-warning">💔 Unfav</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}