@page
@model LoginModel
@using BloodTypeC.WebApp.Language;
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("Log in");
}

<div class="page-name">
    @language.Getkey("Log in")
</div>
<div class="col-md-12">
    <div class="section-center">
        <div class="container">
            <div class="search-form">
                <form id="account" method="post">
                    <div class="center-elements">
                        <div class="col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <span class="form-label text-white">@language.Getkey("Password")</span>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder=@language.Getkey("Email")/>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="center-elements">
                        <div class="col-md-6">
                            <div class="form-group">
                                <span class="form-label text-white">@language.Getkey("Password")</span>
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder=@language.Getkey("Password")/>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="center-elements">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @language.Getkey("Remember me")
                            </label>
                        </div>
                    </div>
                    <div class="button-margin">
                        <div class="center-elements">
                            <button id="login-submit" type="submit" class="search-button">@language.Getkey("Log in")</button>
                        </div>
                    </div>
                    <div>
                        <p class="center-elements">
                            <a id="forgot-password" asp-page="./ForgotPassword">@language.Getkey("Forgot your password?")</a>
                        </p>
                        <p class="center-elements">
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">@language.Getkey("Resend email confirmation")</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }