@page
@model RegisterConfirmationModel
@using BloodTypeC.WebApp.Language;
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("Register confirmation");
}

<div class="page-name">
    @language.Getkey("Register confirmation")
</div>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p class="center-elements text-white">
            @language.Getkey("This app does not currently have a real email sender registered. Normally this would be emailed!")
    </p>
    <div class="buttons">
        
                <a id="confirm-link" href="@Model.EmailConfirmationUrl">
                <button class="confirm-button">
                @language.Getkey("Confirm your account")
                </button>
                </a>
        
        </div>
    }
    else
    {
<p>
            @language.Getkey("Please check your email to confirm your account.")
</p>
    }
}

