@page
@model ResetPasswordModel
@using BloodTypeC.WebApp.Language;
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("Reset password");
}

<div class="page-name">
    @language.Getkey("Reset password")
</div>
<div class="col-md-12">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="search-form">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Input.Code" type="hidden" />
                        <div class="form-group">
                            <span class="form-label text-white">@language.Getkey("Email")</span>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder=@language.Getkey("Email")/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span class="form-label text-white">@language.Getkey("Password")</span>
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder=@language.Getkey("Password")/>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            span class="form-label text-white">@language.Getkey("Confirm password")</span>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder=@language.Getkey("Confirm password")/>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="search-button">@language.Getkey("Reset")</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }