@using BloodTypeC.Logic.Extensions;
@using System.ComponentModel.DataAnnotations;
@using BloodTypeC.DAL.Models
@using BloodTypeC.WebApp.Language;
@inject LanguageService language
@model BeerViewModel

@{
    ViewData["Title"] = @language.Getkey("Create a beer");
 }

<div class="page-name">
    @language.Getkey("Add a beer")
</div>
<div class="col-md-12 section-center container search-form">
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-6">
                <div> <span class="form-label text-white">@language.Getkey("Beer Name")<font color="red">*</font></span></div>
                <div class="input-group col-md-6 tooltip-container">
                    <input type="text" asp-for="Name" class="form-control" placeholder=@language.Getkey("Beer Name") />
                    <button class="btn btn-outline-secondary tooltip-button" type="button">
                        <p class="tooltip-text">@language.Getkey("The name needs to be 2 - 38 characters long.")</p>
                        <i class="bi bi-info-circle" id="info-icon"></i>
                    </button>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div> <span class="form-label text-white">@language.Getkey("Brewery")</span></div>
                <div class="input-group col-md-6 tooltip-container">
                    <input type="text" asp-for="Brewery" class="form-control" placeholder=@language.Getkey("Brewery name") />
                    <button class="btn btn-outline-secondary tooltip-button" type="button">
                        <p class="tooltip-text">@language.Getkey("We will capitalise the first letter. Max 40 characters.")         </p>
                        <i class="bi bi-info-circle" id="info-icon"></i>
                    </button>
                </div>
                <span asp-validation-for="Brewery" class="text-danger"></span>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-md-6">
                <div> <span class="form-label text-white">@language.Getkey("Style")</span></div>
                <div class="input-group col-md-6 tooltip-container">
                    <input type="text" asp-for="Style" class="form-control" placeholder=@language.Getkey("Style")/>
                    <button class="btn btn-outline-secondary tooltip-button" type="button">
                        <p class="tooltip-text">@language.Getkey("We will capitalise the first letters and remove any non-letter characters, except dash (-).")</p>
                        <i class="bi bi-info-circle" id="info-icon"></i>
                    </button>
                </div>
                <span asp-validation-for="Style" class="text-danger"></span>
            </div><div class="col-md-6">
                <div> <span class="form-label text-white">@language.Getkey("Flavors")</span></div>
                <div class="input-group col-md-6 tooltip-container">
                    <input type="text" asp-for="FlavorString" class="form-control" placeholder=@language.Getkey("Flavors") />
                    <button class="btn btn-outline-secondary tooltip-button" type="button">
                        <p class="tooltip-text">@language.Getkey("Separate multiple flavors using any non-letter characters (#%$^!&* etc). But pros simply use commas or spaces.")</p>
                        <i class="bi bi-info-circle" id="info-icon"></i>
                    </button>
                </div>
                <span asp-validation-for="FlavorString" class="text-danger"></span>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-md-6">
                <div> <span class="form-label text-white">@language.Getkey("Alcohol by volume")</span></div>
                <div class="input-group col-md-6 tooltip-container">
                    <input type="text" asp-for="AlcoholByVolume" class="form-control" placeholder=@language.Getkey("Alcohol by volume") />
                    <button class="btn btn-outline-secondary tooltip-button" type="button">
                        <p class="tooltip-text">@language.Getkey("Leaving this empty will set the value to 0. Max value is 95.")</p>
                        <i class="bi bi-info-circle" id="info-icon"></i>
                    </button>
                </div>
                <span asp-validation-for="AlcoholByVolume" class="text-danger"></span>
            </div><div class="col-md-6">
                <div> <span class="form-label text-white">@language.Getkey("Score")</span></div>
                <div class="input-group col-md-6 tooltip-container">
                    <input type="text" asp-for="Score" class="form-control" placeholder=@language.Getkey("Score") />
                    <button class="btn btn-outline-secondary tooltip-button" type="button">
                        <p class="tooltip-text">@language.Getkey("Leaving this empty will set the score to 0.Max value is 10.")</p>
                        <i class="bi bi-info-circle" id="info-icon"></i>
                    </button>
                </div>
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-md-3"></div><div class="col-md-6">
                <div> <span class="form-label text-white">@language.Getkey("Image")</span></div>
                <div class="input-group col-md-6 tooltip-container">
                    <input type="text" asp-for="Image" class="form-control" placeholder=@language.Getkey("Image URL") />
                    <button class="btn btn-outline-secondary tooltip-button" type="button">
                        <p class="tooltip-text">@language.Getkey("Provide the URL to the beer's image on the web.")</p>
                        <i class="bi bi-info-circle" id="info-icon"></i>
                    </button>
                </div><div class="col-md-3"></div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        
            <div class="button-margin">
                <div class="form-group">
                <br /><input type="submit" value=@language.Getkey("Create") class="search-button" />
                </div>
            </div>
      
    </form>
                <button onclick="@("window.location.href='" + Url.Action("Index", "Home") + "'")" class="search-button">
                    @language.Getkey("Back to list")
                </button>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}