@model BloodTypeC.WebApp.Models.BeerViewModel

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <div class="page-name">
        Delete Beer
    </div>
    <div class="delete">
        Are you sure you want to delete this beer?
    </div>
    <div class="products">
        <div class="product-card-details">
            <div class="beer-image-position">
                @if (@Model.Image != null)
                {
                    if (@Model.Image.Contains("/"))
                    {
                        <img src="@Model.Image" class="beer-image">
                    }
                    else
                    {
                        <img src="~/Images/@Model.Image" class="beer-image">
                    }
                }
                else
                {
                    <img src="~/Images/mockup.png" class="beer-image">
                }
                </div>
                <h1 class="details">@Model.Name</h1>
                <div class="details-product">
                    Brewery: @Model.Brewery<br>
                    Style: @Model.Style<br>
                    Flavors: @Model.FlavorString<br>
                    Alcohol volume: @Model.AlcoholByVolume<br>
                    Score: @Model.Score<br>
                </div>
            </div>
        </div>
    </div>
    <form asp-action="Delete">
        <div class="buttons">
            <input type="submit" value="Delete" class="search-button">
        </div>
        <div class="buttons-space">
            <button onclick="@("window.location.href='" + Url.Action("Index", "Home") + "'")" class="search-button">
                Back to list
            </button>
        </div>

    </form>
</body>