@model BloodTypeC.WebApp.Models.BeerViewModel
@using BloodTypeC.WebApp.Language;
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("Delete");
}

<div class="page-name">
    @language.Getkey("Delete Beer")
</div>
<div class="delete">
    @language.Getkey("Are you sure you want to delete this beer?")
</div>
<form asp-action="Delete">
    <div class="products">
        <div class="product-card-details">
            <div class="beer-image-position">
                @if (@Model.Image != null)
                {
                    if (@Model.Image.Contains("/"))
                    {
                        <img src="@Model.Image" class="beer-image">
                    }
                    else
                    {
                        <img src="~/Images/@Model.Image" class="beer-image">
                    }
                }
                else
                {
                    <img src="~/Images/mockup.png" class="beer-image">
                }
            </div>
            <h1 class="details">@Model.Name</h1>
            <div class="details-product">
                @language.Getkey("Brewery:") @Model.Brewery<br>
                @language.Getkey("Style:") @Model.Style<br>
                @language.Getkey("Flavors:") @Model.FlavorString<br>
                @language.Getkey("Alcohol volume:") @Model.AlcoholByVolume<br>
                @language.Getkey("Score:") @Model.Score<br>
            </div>
        </div>
    </div>
    <div class="buttons">
        <div class="button-margin">
            <div class="form-group">
                <input type="submit" value=@language.Getkey("Delete") class="search-button" />
            </div>
        </div>
    </div>
    <div class="buttons">
        <button class="search-button" asp-controller="Home" asp-action="Index">@language.Getkey("Back to list")</button>
    </div>
</form>