@model BloodTypeC.WebApp.Models.BeerViewModel
@using BloodTypeC.DAL.Models;
@using BloodTypeC.Logic.Extensions;
@using System.ComponentModel.DataAnnotations;
@using BloodTypeC.WebApp.Language;
@inject LanguageService language
@using BloodTypeC.DAL.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Details";
    var maxScore = Consts.maxScore;
}

<div class="products">
    <div class="product-card-details">
        <div class="beer-image-position">
            @if (@Model.Image != null)
            {
                if (@Model.Image.Contains("/"))
                {
                    <img src="@Model.Image" class="beer-image">
                }
                else
                {
                    <img src="~/Images/@Model.Image" class="beer-image">
                }
            }
            else
            {
                <img src="~/Images/mockup.png" class="beer-image">
            }
        </div>
        <h1 class="details">@Model.Name</h1>
        <div class="details-product">
            @language.Getkey("Brewery:") @Model.Brewery<br>
            @language.Getkey("Style:") @Model.Style<br>
            @language.Getkey("Flavors:") @Model.FlavorString<br>
            @language.Getkey("Alcohol by volume:") @Model.AlcoholByVolume<br>
            @language.Getkey("Score:") @Model.Score/@maxScore<br>
            Added by: @Model.AddedByUser?.UserName<br/>
            </div>
            <div class="buttons">
                <a asp-action="Edit" asp-route-id="@Model.Id" asp-controller="Beer">
                <button class="product-button">@language.Getkey("Edit")</button>
                </a>
                <a asp-action="Delete" asp-route-id="@Model.Id" asp-controller="Beer">
                <button class="product-button">@language.Getkey("Delete")</button>
                </a>
            </div>        
        <div class="buttons">
            @if (User.Identity.Name != null)
            {
                @if (!Model.FavoriteUsers.Any(u => u.UserName == User.Identity.Name))
                {
                    <a asp-controller="FavoriteBeers" asp-action="AddToFavorites" asp-route-id="@Model.Id">
                        <button class="fav-button">
                            @language.Getkey("Fav")
                        </button>
                    </a>
                }
                else
                {
                    <a asp-controller="FavoriteBeers" asp-action="RemoveFromFavorites" asp-route-id="@Model.Id">
                        <button class="fav-rem-button">
                            @language.Getkey("Unfav")
                        </button>
                    </a>
                }
            }
        </div>
    </div>
</div>
<div class="button-margin">
    <div class="buttons">
        <button onclick="@("window.location.href='" + Url.Action("Index", "Home") + "'")" class="search-button">
            @language.Getkey("Back to list")
        </button>
    </div>
</div>