@model BloodTypeC.WebApp.Models.BeerViewModel
@using BloodTypeC.DAL.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Details";
    var maxScore = Consts.maxScore;
}

<div class="products">
    <div class="product-card-details">
        <div class="beer-image-position">
            @if (@Model.Image != null)
            {
                if (@Model.Image.Contains("/"))
                {
                    <img src="@Model.Image" class="beer-image">
                }
                else
                {
                    <img src="~/Images/@Model.Image" class="beer-image">
                }
            }
            else
            {
                <img src="~/Images/mockup.png" class="beer-image">
            }
        </div>
        <h1 class="details">@Model.Name</h1>
        <div class="details-product">
            Brewery: @Model.Brewery<br>
            Style: @Model.Style<br>
            Flavors: @Model.FlavorString<br>
            Alcohol by volume: @Model.AlcoholByVolume<br>
            Score: @Model.Score/@maxScore<br>
            Added by: @Model.AddedByUser?.UserName<br/>
            </div>
            <div class="buttons">
                <a asp-action="Edit" asp-route-id="@Model.Id" asp-controller="Beer">
                    <button class="product-button">Edit</button>
                </a>
                <a asp-action="Delete" asp-route-id="@Model.Id" asp-controller="Beer">
                    <button class="product-button">Delete</button>
                </a>
            </div>        
        <div class="buttons">
            @if (User.Identity.Name != null)
            {
                @if (!Model.FavoriteUsers.Any(u => u.UserName == User.Identity.Name))
                {
                    <a asp-controller="FavoriteBeers" asp-action="AddToFavorites" asp-route-id="@Model.Id">
                        <button class="fav-button">
                            ❤ Fav it!
                        </button>
                    </a>
                }
                else
                {
                    <a asp-controller="FavoriteBeers" asp-action="RemoveFromFavorites" asp-route-id="@Model.Id">
                        <button class="fav-rem-button">
                            💔 Unfav
                        </button>
                    </a>
                }
            }
        </div>
    </div>
</div>
<div class="button-margin">
    <div class="buttons">
        <button onclick="@("window.location.href='" + Url.Action("Index", "Home") + "'")" class="search-button">
            Back to list
        </button>
    </div>
</div>