@using BloodTypeC.DAL;
@model BloodTypeC.DAL.Beer

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<div class="product-card-details">
    
<div class="beer-image-possition"><img src="~/Images/mockup.png" class="beer-image"></div>
    <h1 class="details">@Model.Name</h1>
    <div class="details">
    by <strong>@Model.Brewery</strong><br>
    Style: @Model.Style<br>
    Alcohol by vol: @Model.AlcoholByVolume<br>
    Score: @Model.Score<br>
        Flavors: @foreach (var item in Model.Flavors)
        {
            @string.Format(item+" ");
        }
        <br>
        <div class="buttons">
        @if (!BloodTypeC.DAL.DB.FavoriteBeers.Any(x => x.Id == Model.Id.ToString()))
        {
            <button class="fav-button">
                <a asp-controller="FavoriteBeers" asp-action="AddToFavorites" asp-route-id="@Model.Id">❤ Fav it!</a>
            </button>
        }
        else
        {
            <button class="fav-rem-button">
                <a asp-controller="FavoriteBeers" asp-action="RemoveFromFavorites" asp-route-id="@Model.Id">💔 Unfav</a>
            </button>
        }
        </div>
        </div>
        </div>
        