@page
@model DeletePersonalDataModel
@using BloodTypeC.WebApp.Language;
@inject LanguageService language

@{
    ViewData["Title"] = @language.Getkey("Delete your account");
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="profile-edit">
    @language.Getkey("Delete confirmation")
</div>
<div class="text-white center-elements">
    <p>
        @language.Getkey("Deleting this data will permanently remove your account, and this cannot be recovered.")
    </p>
</div>
<div class="search-form">
    <form id="delete-user" method="post">
        @if (Model.RequirePassword)
        {
            <div class="center-elements">
                <div class="form-group col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span class="form-label text-white">@language.Getkey("Password")</span>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder=@language.Getkey("Current password")/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
        }
        <div class="center-elements">
            <button class="delete-button" type="submit">@language.Getkey("Delete account")</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
